* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #dce6dc;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  width: 100%;
}

.container > div {
  text-align: center;
}

img {
  border-radius: 15px;
  width: 100%;
  height: auto;
}

img:hover {
  transform: scale(1.02);
}

p {
  font-style: italic;
}

@media (max-width: 900px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .container {
    grid-template-columns: 1fr;
  }
}